[Desktop Entry]
Name=uLuas
Comment=Luas Dublin light rail app for Ubuntu Touch.
Exec=qmlscene $@ uLuas.qml
Icon=uluas_logo.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
